{% extends "webpages/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h1>ARTIFICIAL INTELLIGENCE/VIRTUAL REALITY</h1>
    <img class="domain-img" src="{% static 'assets/img/domain/ar_vr.png' %}" alt="ar/vr">
    <p class="description">AR and VR bridges the gap between two worlds. HTC Vive, Sony PlayStation, Oculus Rift use VR for games like Pokemon Go where you might sit in the cockpit of a Starfighter.
VR replaces your vision , AR adds more to it by overlaying information on top of it, as if you're wearing a pair of sunglasses. Want to experience the thrills of a different world and be able to design your own? Join us for a journey fill with excitement and adventures.
</p>

  </div>
  {% comment %}<!-- ======= Projects Section ======= -->
  <section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Projects</h2>
        <p>Enigma is a storehouse of ideas and innovation where every member is indulged is creating a technology for the betterment of society. <br>
Let's have a look at some of those projects!!
</p>
      </div>


      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Project 1</h4>
              <p>Project</p>
              <!-- <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div> -->
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Project 2</h4>
              <p>Project</p>
              <!-- <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div> -->
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Project 3</h4>
              <p>Project</p>
              <!-- <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div> -->
            </div>
          </div>
        </div>



      </div>
  </section><!-- End Projects Section -->{% endcomment %}
  {% include "webpages/projects.html" %}
{% endblock %}