{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<main id="main">
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title">
              <h2>A Cybernated Escapade</h2>
                
            </div>

            <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-10">
                  <div class="member">
                      <img src="{% static 'assets/img/orientation_horizontal.jpeg' %}" class="img-fluid" alt="">
                      <div class="member-info">
                      <div class="member-info-content">
                          <span>Total Attending: {{ total }}</span>
                          <span> - <span>
                          <a href="{% url 'event-registration' %}"><button  type="button" class="btn btn-success">Register</button></a>
                      </div>
                      </div>
                  </div>
                </div>
            </div>

        </div>
        <hr>
    </section><!-- End Team Section -->
</main>
{% endblock %}