{% extends "webpages/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h1>GRAPHIC DESIGN</h1>
    <img class="domain-img" src="{% static 'assets/img/domain/gd.jpg' %}" alt="graphic design">
    <p class="description">Great graphic design allows you to make a positive first impression on those looking on.  It’s important to know that the graphic design that you choose to represent your brand can set you apart from your competition – whether negatively or positively.
Ready to get your hands dirty with some beauty and creativity? Enigma will guide you to a wonderland of such imagery and help to create one!
</p>

  </div>
  {% comment %}<!-- ======= Projects Section ======= -->
  <section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Projects</h2>
        <p>Enigma is a storehouse of ideas and innovation where every member is indulged is creating a technology for the betterment of society. <br>
Let's have a look at some of those projects!!
</p>
      </div>


      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Project 3</h4>
              <p>Project</p>
              <!-- <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Project 3</h4>
              <p>Project</p>
              <!-- <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Project 3</h4>
              <p>Project</p>
              <!-- <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div> -->
            </div>
          </div>
        </div>

      </div>
  </section><!-- End Projects Section -->{% endcomment %}
  {% include "webpages/projects.html" %}
{% endblock %}