{% load static %}

<!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <!-- <h1 class="logo mr-auto"><a href="index.html">Groovin</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->

      <a href="/" class="logo mr-auto"><img src="{% static 'assets/img/enigma-logo.jpg' %}" alt="" class="img-fluid"></a>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li {% if request.path == '/' %} class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
          <li {% if request.path == '/about' %} class="active"{% endif %}><a href="{% url 'home' %}#about">About</a></li>
          <li {% if request.path == '/what_we_do' %} class="active"{% endif %}><a href="{% url 'home' %}#services">What we do</a></li>
          <li {% if request.path == '/projects' %} class="active"{% endif %}><a href="{% url 'home' %}#portfolio">Projects</a></li>
          <li {% if request.path == '/team/' %} class="active"{% endif %}><a href="{% url 'team' %}">Team</a></li>
          <li {% if request.path == '/events/' %} class="active"{% endif %}><a href="{% url 'events' %}">Events</a></li>
          
          <li><a href="#contact">Contact us</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      {% comment %} {% if request.user.is_authenticated %}
        <a href="{% url 'user-profile' %}" class="get-started-btn scrollto">Profile</a>
        <a href="{% url 'account_logout' %}" class="get-started-btn scrollto">Logout</a>

      {% else %}
        <a href="{% url 'account_login' %}" class="get-started-btn scrollto">Login</a>
        <a href="{% url 'account_signup' %}" class="get-started-btn scrollto">Signup</a>
      {% endif %} {% endcomment %}

    </div>
  </header>
  <!-- End Header -->
