<!-- Navbar -->
{% load socialaccount %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Enigma</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    
  </div>
  {% if request.user.is_authenticated %}
      <a class="nav-link" href="{% url 'account_logout' %}">Logout</a> | 
      <a class="nav-link" href="{% url 'user-profile' %}">My Profile</a> |
      <a class="nav-link" href="/admin">Admin</a>
    {% else %}
      <a class="nav-link" href="{% url 'account_login' %}">Login</a> | 
      <a class="nav-link" href="{% url 'account_signup' %}">Signup</a> |
      <a href="{% provider_login_url 'google' %}">Login with Google</a> |
      <a href="{% provider_login_url 'linkedin_oauth2' %}">Login with Linkedin</a> |
      <a href="{% provider_login_url 'github' %}">Login with Github</a>
    {% endif %}
</nav>
<!-- Navbar -->

