<!DOCTYPE html>
<html>
<head>
    <title>Projects page</title>
    <link rel="stylesheet" href="../../static/assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

    <body>
        <section id="portfolio" class="portfolio section-bg">
        <div class="container">

        <div class="section-title">
          <h2>Projects</h2>
          <p>Enigma is a storehouse of ideas and innovation where every member is indulged is creating a technology for the betterment of society. <br>
            Let's have a look at some of those projects!!
          </p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-ai">AI/ML</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../../static/assets/project images/attandance.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Attendance App</h4>
                <p>An app to track attendance of college students based on Tinder UI</p>
                <p style="font-size: 12px;">Made by Sounmay Mishra</p>
                <div class="portfolio-links">
                  <a href="../../static/assets/project images/attandance.jpg" data-gall="portfolioGallery" class="venobox" title="Attendance App"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/Sounmay/tinder-attendance-app" title="More Details" target="_blank">
                    <span class="iconify" data-icon="bx-bx-link" data-inline="false"></span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../../static/assets/project images/Restaurant.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Restaurant Table Reservation System</h4>
                <p>Customers can reserve a table at their favorite restaurants with a few clicks.</p>
                <p style="font-size: 12px;">Made by Subham and Balgopal</p>
                <!-- <div class="portfolio-links">
                  <a href="../../static/assets/project images/attandance.jpg" data-gall="portfolioGallery" class="venobox" title="Attendance App"><i class="bx bx-plus"></i></a>
                  <a href="https://www.google.com" title="More Details" target="_blank">
                    <span class="iconify" data-icon="bx-bx-link" data-inline="false"></span></a>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../../static/assets/project images/bank.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Banking Management System</h4>
                <p>Managing banking in an efficient and safer manner.</p>
                <!-- <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../../static/assets/project images/Facebook-clone1.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Facebook Clone</h4>
                <p>Now use a clone of your favourite social media app to connect with youe best friends.</p>
                <p style="font-size: 12px;">Made by Chandrasekhar</p>
                <div class="portfolio-links">
                  <a href="../../static/assets/project images/attandance.jpg" data-gall="portfolioGallery" class="venobox" title="Attendance App"><i class="bx bx-plus"></i></a>
                  <a href="https://facebook-clone-react-c8892.web.app/" title="More Details" target="_blank">
                    <span class="iconify" data-icon="bx-bx-link" data-inline="false"></span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../../static/assets/project images/shushrut.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Shushrut - Online Health Care System</h4>
                <p>Monitoring health through the android device and this app.</p>
                <!-- <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ai">
            <div class="portfolio-wrap">
              <img src="../../static/assets/project images/Hand sign recognition.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Hand Sign Recognition</h4>
                <p>Let your machines recognize different hand signs using Deep Learning algorithms.</p>
                <p style="font-size: 12px;">Made by Priyanshu Singh</p>
                <!-- <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title="AI/ML 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../../static/assets/project images/addy.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Addy - The Web Addressing System</h4>
                <p>Geotagging and geolocation made easy</p>
                <!-- <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../../static/assets/project images/Food Delivery.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Food Delivery Application</h4>
                <p>Fully Functional food delivery app made using Flutter, currently in production and in use by Rourkela Club</p>
                <p style="font-size: 12px;">Made by Sounmay Mishra</p>
                <div class="portfolio-links">
                  <a href="../../static/assets/project images/attandance.jpg" data-gall="portfolioGallery" class="venobox" title="Attendance App"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/Sounmay/rcapp_final" title="More Details" target="_blank">
                    <span class="iconify" data-icon="bx-bx-link" data-inline="false"></span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ai">
            <div class="portfolio-wrap">
              <img src="../../static/assets/project images/Hanwriting recognition.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>HandWriting Recognition</h4>
                <p>Convert your Handwriting to text with the help of Deep Learning</p>
                <p style="font-size: 12px;">Made by Priyanshu Singh</p>
                <!-- <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox" title="AI/ML 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ai">
            <div class="portfolio-wrap">
              <img src="../../static/assets/project images/emotion recognition.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Emotion Recognition</h4>
                <p>Happy? Sad? Angry? Get your emotions recognized now using deep learning.</p>
                <p style="font-size: 12px;">Made by Soumyajit Rout</p>
                <!-- <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox" title="AI/ML 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../../static/assets/project images/Learn Morse3" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Learn Morse</h4>
                <p>A WebApp that teaches people Morse Code and helps to remember Morse codes easily.</p>
                <p style="font-size: 12px;">Made by Ashutosh Khandual</p>
                <div class="portfolio-links">
                  <a href="../../static/assets/project images/Learn Morse3.jpeg" data-gall="portfolioGallery" class="venobox" title="Attendance App"><i class="bx bx-plus"></i></a>
                  <a href="https://ashuvssut.github.io/the-morse-code-project/" title="More Details" target="_blank">
                    <span class="iconify" data-icon="bx-bx-link" data-inline="false"></span></a>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ai">
            <div class="portfolio-wrap">
              <img src="../../static/assets/project images/Face Recognition.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Face Recognition</h4>
                <p>Get your face recognized now using deep learning.</p>
                <p style="font-size: 12px;">Made by Priyanshu Singh</p>
                <!-- <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox" title="AI/ML 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../../static/assets/project images/Newslette1r.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Automated Newsletter</h4>
                <p>Receive regular updates on your mail, all automated..</p>
                <p style="font-size: 12px;">Made by Chandrasekhar</p>
                <div class="portfolio-links">
                  <a href="../../static/assets/project images/Newsletter.jpeg" data-gall="portfolioGallery" class="venobox" title="Attendance App"><i class="bx bx-plus"></i></a>
                  <a href="https://evening-ravine-95557.herokuapp.com/" title="More Details" target="_blank">
                    <span class="iconify" data-icon="bx-bx-link" data-inline="false"></span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ai">
            <div class="portfolio-wrap">
              <img src="../../static/assets/project images/sentiment.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sentiment Analysis</h4>
                <p>Wouldn't it be wonderful to get the sentiment recognized from any sentence you write?</p>
                <p style="font-size: 12px;">Made by Pragati Joshi</p>
                <!-- <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox" title="AI/ML 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div> -->
              </div>
            </div>
          </div>

        </div>
    </section><!-- End Projects Section -->
    </body>
</html>
