{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<main id="main">
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title">
                <h2>Team</h2>
                <p>"Teamwork makes the dream work."
                    At Enigma, we're not just coders who develop and build, but a family which grows together.<br>
                    Want to be a part of this? Let's first meet the team.
                </p>
            </div>

            <div class="row">
              {% for member in all_members %}
                <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="member">
                    <img src="{{ member.profile_pic.url }}" class="img-fluid" style="Width:100%; Height:300px;">
                    <div class="member-info">
                    <div class="member-info-content">
                        <h4>{{ member.firstname }} {{ member.lastname }}</h4>
                        <span>Year: {{ member.get_year_display }}</span>
                        <div class="social">
                        <a href="{{ member.github }}"><i class="icofont-github"></i></a>
                        <a href="{{ member.facebook }}"><i class="icofont-facebook"></i></a>
                        <a href="{{ member.instagram }}"><i class="icofont-instagram"></i></a>
                        <a href="{{ member.linkedin }}"><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
              {% endfor %}

              {% comment %} <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
              <div class="member">
                  <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                  <div class="member-info">
                  <div class="member-info-content">
                      <h4>Sarah Jhonson</h4>
                      <span>Product Manager</span>
                      <div class="social">
                      <a href=""><i class="icofont-twitter"></i></a>
                      <a href=""><i class="icofont-facebook"></i></a>
                      <a href=""><i class="icofont-instagram"></i></a>
                      <a href=""><i class="icofont-linkedin"></i></a>
                      </div>
                  </div>
                  </div>
              </div>
              </div>

              <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
              <div class="member">
                  <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                  <div class="member-info">
                  <div class="member-info-content">
                      <h4>William Anderson</h4>
                      <span>CTO</span>
                      <div class="social">
                      <a href=""><i class="icofont-twitter"></i></a>
                      <a href=""><i class="icofont-facebook"></i></a>
                      <a href=""><i class="icofont-instagram"></i></a>
                      <a href=""><i class="icofont-linkedin"></i></a>
                      </div>
                  </div>
                  </div>
              </div>
              </div>

              <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
              <div class="member">
                  <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                  <div class="member-info">
                  <div class="member-info-content">
                      <h4>Amanda Jepson</h4>
                      <span>Accountant</span>
                      <div class="social">
                      <a href=""><i class="icofont-twitter"></i></a>
                      <a href=""><i class="icofont-facebook"></i></a>
                      <a href=""><i class="icofont-instagram"></i></a>
                      <a href=""><i class="icofont-linkedin"></i></a>
                      </div>
                  </div>
                  </div>
              </div>
              </div> {% endcomment %}

            </div>

        </div>

        {% comment %} <div class="container">
          <div class="section-title">
            <h2>Become a member</h2>
            <p>This form is only for the current or previous members of club only. This form will be closed soon.</p>
          </div>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-xl-10 col-lg-10 col-md-10">
                {{ m_form|crispy }}
              </div>
            </div>
            <button class="btn btn-outline-info" type="submit">Add</button>
          </form>
        </div> {% endcomment %}
        <div class="container">

          <div class="section-title">
            <h2>Become a member</h2>
            <p>This form is only for the current or previous members of club only. This form will be closed soon. <br> Please Provide all profile links</p>
          </div>

          <form method="POST" enctype="multipart/form-data" class="p-5">
          {% csrf_token %}
            <div class="card p-4">
              <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-group">
                        {{ m_form|crispy}}

                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-group">
                        {{ m_form2|crispy}}
                    </div>
                </div>
              </div>
              <div class="row justify-content-md-center">
                <div class="col-md-auto">
                  <button class="btn btn-outline-info" type="submit">Add Member</button>
                </div>
              </div>
            </div>
          </form>
        </div>
    </section><!-- End Team Section -->
</main>
      </section><!-- End Team Section -->

    </main>
{% endblock %}