.particle-container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#particle-slider {
  position: absolute;
  z-index: 10;
  opacity: 0.4;
  height: 100%;
  min-width: 340px;
  width: 100%;
  max-width: 500px;
}
